@charset "UTF-8";
/*css reset*/
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
body { font-size:0.75em}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input,button,select,textarea{outline:none} textarea{resize:none;}

body, a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}

/*统一样式*/
html { width: 100%; height: 100%; }
body { margin:0 auto; width:640px; background:#fff; font-family:"微软雅黑"; }
.wrap{overflow:hidden;position:relative;width:100%;height:100%;}


/*audio*/
.audio { position:fixed; top:45px; right:35px; z-index:2000; width:60px; height:61px; line-height:120px; text-align:center; }
.audioBox .audioBtn{ width:60px; height:61px; }
.audioBtn li {width: 60px; height: 61px; background-image:url(sprite01.png);}
.audioBtn li:first-child {  background-position: -60px 0;}
.audioBtn li:last-child {display:none;background-position: 0 0;}
.audio audio { height:0; width:0; opacity:0; }
/*arrow*/
.arrow{ position: fixed; bottom: 30px; left:50%; z-index: 150; width: 80px; height: 80px; margin-left: -40px; }
.arrow img { position: absolute; top: 50%; left: 50%; width: 50px; height: 28px; margin: -14px 0 0 -25px; background-position: 0 -82px;
	-webkit-animation: start 1.5s infinite ease-in-out;
	   -moz-animation: start 1.5s infinite ease-in-out;
	        animation: start 1.5s infinite ease-in-out;
}

@-webkit-keyframes start {
	0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
	60% {opacity: 1;-webkit-transform: translate(0,0);}
	100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@-moz-keyframes start {
	0%,30% {opacity: 0;-moz-transform: translate(0,10px);}
	60% {opacity: 1;-moz-transform: translate(0,0);}
	100% {opacity: 0;-moz-transform: translate(0,-8px);}
}
@keyframes start {
	0%,30% {opacity: 0;transform: translate(0,10px);}
	60% {opacity: 1;transform: translate(0,0);}
	100% {opacity: 0;transform: translate(0,-8px);}
}

/*loading*/
.loading{margin:0 auto; width:600px;position:fixed;top:38%;left:0;display:none;}
.loading img{text-align:center;margin-left:48%;height:60px;width:60px;}

/* pageLoading */
.pageLoading { display:none; position:fixed; top:0; left:0; z-index:99999; height:100%; width:100%; background:rgba(0,0,0,0.6); }
.pageLoading img { position:absolute; top:40%; left:50%; height:100px; width:100px; margin:-50px 0 0 -50px; }

/*page*/
.page {position: absolute;left: 0;top: 0%;width: 100%;height: 100%;background:#fff;}
.page.show{display:block;z-index:10;}
.page.hide {display:none;z-index:5;}
.page.active {display:block;z-index:15;}
.page .img{width: 100%;height: 100%;}

/*animation*/
/*animation: name duration timing-function delay iteration-count direction;*/
.animationbounce,.animationflash,.animationflip,.animationring,.animationshake,.animationswing,.animationwobble{-webkit-animation:1s ease;-moz-animation:1s ease;-ms-animation:1s ease;animation:1s ease}
.animationbouncein,.animationbounceinB,.animationbounceinL,.animationbounceinR,.animationbounceinT,.animationfadein,.animationfadeinB,.animationfadeinL,.animationfadeinR,.animationfadeinT,.animationflipin,.animationflipinX,.animationflipinY,.animationrotatein,.animationrotateinLB,.animationrotateinLT,.animationrotateinRB,.animationrotateinRT{-webkit-animation:1s ease-out backwards;-moz-animation:1s ease-out backwards;-ms-animation:1s ease-out backwards;animation:1s ease-out backwards}
.animationbounceout,.animationbounceoutB,.animationbounceoutL,.animationbounceoutR,.animationbounceoutT,.animationfadeout,.animationfadeoutB,.animationfadeoutL,.animationfadeoutR,.animationfadeoutT,.animationflipout,.animationflipoutX,.animationflipoutY,.animationrotateout,.animationrotateoutLB,.animationrotateoutLT,.animationrotateoutRB,.animationrotateoutRT{-webkit-animation:1s ease-in forwards;-moz-animation:1s ease-in forwards;-ms-animation:1s ease-in forwards;animation:1s ease-in forwards}
.animationfadein{-webkit-animation-name:fadein;-moz-animation-name:fadein;-ms-animation-name:fadein;animation-name:fadein}
.animationfadeinT{-webkit-animation-name:fadeinT;-moz-animation-name:fadeinT;-ms-animation-name:fadeinT;animation-name:fadeinT}
.animationfadeinR{-webkit-animation-name:fadeinR;-moz-animation-name:fadeinR;-ms-animation-name:fadeinR;animation-name:fadeinR}
.animationfadeinB{-webkit-animation-name:fadeinB;-moz-animation-name:fadeinB;-ms-animation-name:fadeinB;animation-name:fadeinB}
.animationfadeinL{-webkit-animation-name:fadeinL;-moz-animation-name:fadeinL;-ms-animation-name:fadeinL;animation-name:fadeinL}
.animationfadeout{-webkit-animation-name:fadeout;-moz-animation-name:fadeout;-ms-animation-name:fadeout;animation-name:fadeout}
.animationfadeoutT{-webkit-animation-name:fadeoutT;-moz-animation-name:fadeoutT;-ms-animation-name:fadeoutT;animation-name:fadeoutT}
.animationfadeoutR{-webkit-animation-name:fadeoutR;-moz-animation-name:fadeoutR;-ms-animation-name:fadeoutR;animation-name:fadeoutR}
.animationfadeoutB{-webkit-animation-name:fadeoutB;-moz-animation-name:fadeoutB;-ms-animation-name:fadeoutB;animation-name:fadeoutB}
.animationfadeoutL{-webkit-animation-name:fadeoutL;-moz-animation-name:fadeoutL;-ms-animation-name:fadeoutL;animation-name:fadeoutL}
.animationbounce{-webkit-animation-name:bounce;-moz-animation-name:bounce;-ms-animation-name:bounce;animation-name:bounce}
.animationbouncein{-webkit-animation-name:bouncein;-moz-animation-name:bouncein;-ms-animation-name:bouncein;animation-name:bouncein}
.animationbounceinT{-webkit-animation-name:bounceinT;-moz-animation-name:bounceinT;-ms-animation-name:bounceinT;animation-name:bounceinT}
.animationbounceinR{-webkit-animation-name:bounceinR;-moz-animation-name:bounceinR;-ms-animation-name:bounceinR;animation-name:bounceinR}
.animationbounceinB{-webkit-animation-name:bounceinB;-moz-animation-name:bounceinB;-ms-animation-name:bounceinB;animation-name:bounceinB}
.animationbounceinL{-webkit-animation-name:bounceinL;-moz-animation-name:bounceinL;-ms-animation-name:bounceinL;animation-name:bounceinL}
.animationbounceout{-webkit-animation-name:bounceout;-moz-animation-name:bounceout;-ms-animation-name:bounceout;animation-name:bounceout}
.animationbounceoutT{-webkit-animation-name:bounceoutT;-moz-animation-name:bounceoutT;-ms-animation-name:bounceoutT;animation-name:bounceoutT}
.animationbounceoutR{-webkit-animation-name:bounceoutR;-moz-animation-name:bounceoutR;-ms-animation-name:bounceoutR;animation-name:bounceoutR}
.animationbounceoutB{-webkit-animation-name:bounceoutB;-moz-animation-name:bounceoutB;-ms-animation-name:bounceoutB;animation-name:bounceoutB}
.animationbounceoutL{-webkit-animation-name:bounceoutL;-moz-animation-name:bounceoutL;-ms-animation-name:bounceoutL;animation-name:bounceoutL}
.animationrotatein{-webkit-animation-name:rotatein;-moz-animation-name:rotatein;-ms-animation-name:rotatein;animation-name:rotatein}
.animationrotateinLT{-webkit-animation-name:rotateinLT;-moz-animation-name:rotateinLT;-ms-animation-name:rotateinLT;animation-name:rotateinLT}
.animationrotateinLB{-webkit-animation-name:rotateinLB;-moz-animation-name:rotateinLB;-ms-animation-name:rotateinLB;animation-name:rotateinLB}
.animationrotateinRT{-webkit-animation-name:rotateinRT;-moz-animation-name:rotateinRT;-ms-animation-name:rotateinRT;animation-name:rotateinRT}
.animationrotateinRB{-webkit-animation-name:rotateinRB;-moz-animation-name:rotateinRB;-ms-animation-name:rotateinRB;animation-name:rotateinRB}
.animationrotateout{-webkit-animation-name:rotateout;-moz-animation-name:rotateout;-ms-animation-name:rotateout;animation-name:rotateout}
.animationrotateoutLT{-webkit-animation-name:rotateoutLT;-moz-animation-name:rotateoutLT;-ms-animation-name:rotateoutLT;animation-name:rotateoutLT}
.animationrotateoutLB{-webkit-animation-name:rotateoutLB;-moz-animation-name:rotateoutLB;-ms-animation-name:rotateoutLB;animation-name:rotateoutLB}
.animationrotateoutRT{-webkit-animation-name:rotateoutRT;-moz-animation-name:rotateoutRT;-ms-animation-name:rotateoutRT;animation-name:rotateoutRT}
.animationrotateoutRB{-webkit-animation-name:rotateoutRB;-moz-animation-name:rotateoutRB;-ms-animation-name:rotateoutRB;animation-name:rotateoutRB}
.animationflip{-webkit-animation-name:flip;-moz-animation-name:flip;-ms-animation-name:flip;animation-name:flip}
.animationflipinX{-webkit-animation-name:flipinX;-moz-animation-name:flipinX;-ms-animation-name:flipinX;animation-name:flipinX}
.animationflipin,.animationflipinY{-webkit-animation-name:flipinY;-moz-animation-name:flipinY;-ms-animation-name:flipinY;animation-name:flipinY}
.animationflipoutX{-webkit-animation-name:flipoutX;-moz-animation-name:flipoutX;-ms-animation-name:flipoutX;animation-name:flipoutX}
.animationflipout,.animationflipoutY{-webkit-animation-name:flipoutY;-moz-animation-name:flipoutY;-ms-animation-name:flipoutY;animation-name:flipoutY}
.animationflash{-webkit-animation-name:flash;-moz-animation-name:flash;-ms-animation-name:flash;animation-name:flash}
.animationshake{-webkit-animation-name:shake;-moz-animation-name:shake;-ms-animation-name:shake;animation-name:shake}
.animationswing{-webkit-animation-name:swing;-moz-animation-name:swing;-ms-animation-name:swing;animation-name:swing}
.animationwobble{-webkit-animation-name:wobble;-moz-animation-name:wobble;-ms-animation-name:wobble;animation-name:wobble}
.animationring{-webkit-animation-name:ring;-moz-animation-name:ring;-ms-animation-name:ring;animation-name:ring}
@-webkit-keyframes fadein{0%{opacity:0}
100%{opacity:1}
}
@-moz-keyframes fadein{0%{opacity:0}
100%{opacity:1}
}
@-ms-keyframes fadein{0%{opacity:0}
100%{opacity:1}
}
@keyframes fadein{0%{opacity:0}
100%{opacity:1}
}
@-webkit-keyframes fadeinT{0%{opacity:0;-webkit-transform:translateY(-100px)}
100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeinT{0%{opacity:0;-moz-transform:translateY(-100px)}
100%{opacity:1;-moz-transform:translateY(0)}
}
@-ms-keyframes fadeinT{0%{opacity:0;-ms-transform:translateY(-100px)}
100%{opacity:1;-ms-transform:translateY(0)}
}
@keyframes fadeinT{0%{opacity:0;transform:translateY(-100px)}
100%{opacity:1;transform:translateY(0)}
}
@-webkit-keyframes fadeinR{0%{opacity:0;-webkit-transform:translateX(100px)}
100%{opacity:1;-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeinR{0%{opacity:0;-moz-transform:translateX(100px)}
100%{opacity:1;-moz-transform:translateX(0)}
}
@-ms-keyframes fadeinR{0%{opacity:0;-ms-transform:translateX(100px)}
100%{opacity:1;-ms-transform:translateX(0)}
}
@keyframes fadeinR{0%{opacity:0;transform:translateX(100px)}
100%{opacity:1;transform:translateX(0)}
}
@-webkit-keyframes fadeinB{0%{opacity:0;-webkit-transform:translateY(100px)}
100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeinB{0%{opacity:0;-moz-transform:translateY(100px)}
100%{opacity:1;-moz-transform:translateY(0)}
}
@-ms-keyframes fadeinB{0%{opacity:0;-ms-transform:translateY(100px)}
100%{opacity:1;-ms-transform:translateY(0)}
}
@keyframes fadeinB{0%{opacity:0;transform:translateY(100px)}
100%{opacity:1;transform:translateY(0)}
}
@-webkit-keyframes fadeinL{0%{opacity:0;-webkit-transform:translateX(-100px)}
100%{opacity:1;-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeinL{0%{opacity:0;-moz-transform:translateX(-100px)}
100%{opacity:1;-moz-transform:translateX(0)}
}
@-ms-keyframes fadeinL{0%{opacity:0;-ms-transform:translateX(-100px)}
100%{opacity:1;-ms-transform:translateX(0)}
}
@keyframes fadeinL{0%{opacity:0;transform:translateX(-100px)}
100%{opacity:1;transform:translateX(0)}
}
@-webkit-keyframes fadeout{0%{opacity:1}
100%{opacity:0}
}
@-moz-keyframes fadeout{0%{opacity:1}
100%{opacity:0}
}
@-ms-keyframes fadeout{0%{opacity:1}
100%{opacity:0}
}
@keyframes fadeout{0%{opacity:1}
100%{opacity:0}
}
@-webkit-keyframes fadeoutT{0%{opacity:1;-webkit-transform:translateY(0)}
100%{opacity:0;-webkit-transform:translateY(-100px)}
}
@-moz-keyframes fadeoutT{0%{opacity:1;-moz-transform:translateY(0)}
100%{opacity:0;-moz-transform:translateY(-100px)}
}
@-ms-keyframes fadeoutT{0%{opacity:1;-ms-transform:translateY(0)}
100%{opacity:0;-ms-transform:translateY(-100px)}
}
@keyframes fadeoutT{0%{opacity:1;transform:translateY(0)}
100%{opacity:0;transform:translateY(-100px)}
}
@-webkit-keyframes fadeoutR{0%{opacity:1;-webkit-transform:translateX(0)}
100%{opacity:0;-webkit-transform:translateX(100px)}
}
@-moz-keyframes fadeoutR{0%{opacity:1;-moz-transform:translateX(0)}
100%{opacity:0;-moz-transform:translateX(100px)}
}
@-ms-keyframes fadeoutR{0%{opacity:1;-ms-transform:translateX(0)}
100%{opacity:0;-ms-transform:translateX(100px)}
}
@keyframes fadeoutR{0%{opacity:1;transform:translateX(0)}
100%{opacity:0;transform:translateX(100px)}
}
@-webkit-keyframes fadeoutB{0%{opacity:1;-webkit-transform:translateY(0)}
100%{opacity:0;-webkit-transform:translateY(100px)}
}
@-moz-keyframes fadeoutB{0%{opacity:1;-moz-transform:translateY(0)}
100%{opacity:0;-moz-transform:translateY(100px)}
}
@-ms-keyframes fadeoutB{0%{opacity:1;-ms-transform:translateY(0)}
100%{opacity:0;-ms-transform:translateY(100px)}
}
@keyframes fadeoutB{0%{opacity:1;transform:translateY(0)}
100%{opacity:0;transform:translateY(100px)}
}
@-webkit-keyframes fadeoutL{0%{opacity:1;-webkit-transform:translateX(0)}
100%{opacity:0;-webkit-transform:translateX(-100px)}
}
@-moz-keyframes fadeoutL{0%{opacity:1;-moz-transform:translateX(0)}
100%{opacity:0;-moz-transform:translateX(-100px)}
}
@-ms-keyframes fadeoutL{0%{opacity:1;-ms-transform:translateX(0)}
100%{opacity:0;-ms-transform:translateX(-100px)}
}
@keyframes fadeoutL{0%{opacity:1;transform:translateX(0)}
100%{opacity:0;transform:translateX(-100px)}
}
@-webkit-keyframes bounce{0%,100%,20%,50%,80%{-webkit-transform:translateY(0)}
40%{-webkit-transform:translateY(-30px)}
60%{-webkit-transform:translateY(-15px)}
}
@-moz-keyframes bounce{0%,100%,20%,50%,80%{-moz-transform:translateY(0)}
40%{-moz-transform:translateY(-30px)}
60%{-moz-transform:translateY(-15px)}
}
@-ms-keyframes bounce{0%,100%,20%,50%,80%{-ms-transform:translateY(0)}
40%{-ms-transform:translateY(-30px)}
60%{-ms-transform:translateY(-15px)}
}
@keyframes bounce{0%,100%,20%,50%,80%{transform:translateY(0)}
40%{transform:translateY(-30px)}
60%{transform:translateY(-15px)}
}
@-webkit-keyframes bouncein{0%{opacity:0;-webkit-transform:scale(0.3)}
50%{opacity:1;-webkit-transform:scale(1.05)}
70%{-webkit-transform:scale(0.9)}
100%{-webkit-transform:scale(1)}
}
@-moz-keyframes bouncein{0%{opacity:0;-moz-transform:scale(0.3)}
50%{opacity:1;-moz-transform:scale(1.05)}
70%{-moz-transform:scale(0.9)}
100%{-moz-transform:scale(1)}
}
@-ms-keyframes bouncein{0%{opacity:0;-ms-transform:scale(0.3)}
50%{opacity:1;-ms-transform:scale(1.05)}
70%{-ms-transform:scale(0.9)}
100%{-ms-transform:scale(1)}
}
@keyframes bouncein{0%{opacity:0;transform:scale(0.3)}
50%{opacity:1;transform:scale(1.05)}
70%{transform:scale(0.9)}
100%{transform:scale(1)}
}
@-webkit-keyframes bounceinT{0%{opacity:0;-webkit-transform:translateY(-100px)}
60%{opacity:1;-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes bounceinT{0%{opacity:0;-moz-transform:translateY(-100px)}
60%{opacity:1;-moz-transform:translateY(30px)}
80%{-moz-transform:translateY(-10px)}
100%{-moz-transform:translateY(0)}
}
@-ms-keyframes bounceinT{0%{opacity:0;-ms-transform:translateY(-100px)}
60%{opacity:1;-ms-transform:translateY(30px)}
80%{-ms-transform:translateY(-10px)}
100%{-ms-transform:translateY(0)}
}
@keyframes bounceinT{0%{opacity:0;transform:translateY(-100px)}
60%{opacity:1;transform:translateY(30px)}
80%{transform:translateY(-10px)}
100%{transform:translateY(0)}
}
@-webkit-keyframes bounceinR{0%{opacity:0;-webkit-transform:translateX(100px)}
60%{opacity:1;-webkit-transform:translateX(-30px)}
80%{-webkit-transform:translateX(10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceinR{0%{opacity:0;-moz-transform:translateX(100px)}
60%{opacity:1;-moz-transform:translateX(-30px)}
80%{-moz-transform:translateX(10px)}
100%{-moz-transform:translateX(0)}
}
@-ms-keyframes bounceinR{0%{opacity:0;-ms-transform:translateX(100px)}
60%{opacity:1;-ms-transform:translateX(-30px)}
80%{-ms-transform:translateX(10px)}
100%{-ms-transform:translateX(0)}
}
@keyframes bounceinR{0%{opacity:0;transform:translateX(100px)}
60%{opacity:1;transform:translateX(-30px)}
80%{transform:translateX(10px)}
100%{transform:translateX(0)}
}
@-webkit-keyframes bounceinB{0%{opacity:0;-webkit-transform:translateY(100px)}
60%{opacity:1;-webkit-transform:translateY(-30px)}
80%{-webkit-transform:translateY(10px)}
100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes bounceinB{0%{opacity:0;-moz-transform:translateY(100px)}
60%{opacity:1;-moz-transform:translateY(-30px)}
80%{-moz-transform:translateY(10px)}
100%{-moz-transform:translateY(0)}
}
@-ms-keyframes bounceinB{0%{opacity:0;-ms-transform:translateY(100px)}
60%{opacity:1;-ms-transform:translateY(-30px)}
80%{-ms-transform:translateY(10px)}
100%{-ms-transform:translateY(0)}
}
@keyframes bounceinB{0%{opacity:0;transform:translateY(100px)}
60%{opacity:1;transform:translateY(-30px)}
80%{transform:translateY(10px)}
100%{transform:translateY(0)}
}
@-webkit-keyframes bounceinL{0%{opacity:0;-webkit-transform:translateX(-100px)}
60%{opacity:1;-webkit-transform:translateX(30px)}
80%{-webkit-transform:translateX(-10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceinL{0%{opacity:0;-moz-transform:translateX(-100px)}
60%{opacity:1;-moz-transform:translateX(30px)}
80%{-moz-transform:translateX(-10px)}
100%{-moz-transform:translateX(0)}
}
@-ms-keyframes bounceinL{0%{opacity:0;-ms-transform:translateX(-100px)}
60%{opacity:1;-ms-transform:translateX(30px)}
80%{-ms-transform:translateX(-10px)}
100%{-ms-transform:translateX(0)}
}
@keyframes bounceinL{0%{opacity:0;transform:translateX(-100px)}
60%{opacity:1;transform:translateX(30px)}
80%{transform:translateX(-10px)}
100%{transform:translateX(0)}
}
@-webkit-keyframes bounceout{0%{-webkit-transform:scale(1)}
25%{-webkit-transform:scale(0.95)}
50%{opacity:1;-webkit-transform:scale(1.1)}
100%{opacity:0;-webkit-transform:scale(0.3)}
}
@-moz-keyframes bounceout{0%{-moz-transform:scale(1)}
25%{-moz-transform:scale(0.95)}
50%{opacity:1;-moz-transform:scale(1.1)}
100%{opacity:0;-moz-transform:scale(0.3)}
}
@-ms-keyframes bounceout{0%{-ms-transform:scale(1)}
25%{-ms-transform:scale(0.95)}
50%{opacity:1;-ms-transform:scale(1.1)}
100%{opacity:0;-ms-transform:scale(0.3)}
}
@keyframes bounceout{0%{transform:scale(1)}
25%{transform:scale(0.95)}
50%{opacity:1;transform:scale(1.1)}
100%{opacity:0;transform:scale(0.3)}
}
@-webkit-keyframes bounceoutT{0%{-webkit-transform:translateY(0)}
20%{opacity:1;-webkit-transform:translateY(20px)}
100%{opacity:0;-webkit-transform:translateY(-100px)}
}
@-moz-keyframes bounceoutT{0%{-moz-transform:translateY(0)}
20%{opacity:1;-moz-transform:translateY(20px)}
100%{opacity:0;-moz-transform:translateY(-100px)}
}
@-ms-keyframes bounceoutT{0%{-ms-transform:translateY(0)}
20%{opacity:1;-ms-transform:translateY(20px)}
100%{opacity:0;-ms-transform:translateY(-100px)}
}
@keyframes bounceoutT{0%{transform:translateY(0)}
20%{opacity:1;transform:translateY(20px)}
100%{opacity:0;transform:translateY(-100px)}
}
@-webkit-keyframes bounceoutR{0%{-webkit-transform:translateX(0)}
20%{opacity:1;-webkit-transform:translateX(-20px)}
100%{opacity:0;-webkit-transform:translateX(100px)}
}
@-moz-keyframes bounceoutR{0%{-moz-transform:translateX(0)}
20%{opacity:1;-moz-transform:translateX(-20px)}
100%{opacity:0;-moz-transform:translateX(100px)}
}
@-ms-keyframes bounceoutR{0%{-ms-transform:translateX(0)}
20%{opacity:1;-ms-transform:translateX(-20px)}
100%{opacity:0;-ms-transform:translateX(100px)}
}
@keyframes bounceoutR{0%{transform:translateX(0)}
20%{opacity:1;transform:translateX(-20px)}
100%{opacity:0;transform:translateX(100px)}
}
@-webkit-keyframes bounceoutB{0%{-webkit-transform:translateY(0)}
20%{opacity:1;-webkit-transform:translateY(-20px)}
100%{opacity:0;-webkit-transform:translateY(100px)}
}
@-moz-keyframes bounceoutB{0%{-moz-transform:translateY(0)}
20%{opacity:1;-moz-transform:translateY(-20px)}
100%{opacity:0;-moz-transform:translateY(100px)}
}
@-ms-keyframes bounceoutB{0%{-ms-transform:translateY(0)}
20%{opacity:1;-ms-transform:translateY(-20px)}
100%{opacity:0;-ms-transform:translateY(100px)}
}
@keyframes bounceoutB{0%{transform:translateY(0)}
20%{opacity:1;transform:translateY(-20px)}
100%{opacity:0;transform:translateY(100px)}
}
@-webkit-keyframes bounceoutL{0%{-webkit-transform:translateX(0)}
20%{opacity:1;-webkit-transform:translateX(20px)}
100%{opacity:0;-webkit-transform:translateX(-100px)}
}
@-moz-keyframes bounceoutL{0%{-moz-transform:translateX(0)}
20%{opacity:1;-moz-transform:translateX(20px)}
100%{opacity:0;-moz-transform:translateX(-100px)}
}
@-ms-keyframes bounceoutL{0%{-ms-transform:translateX(0)}
20%{opacity:1;-ms-transform:translateX(20px)}
100%{opacity:0;-ms-transform:translateX(-100px)}
}
@keyframes bounceoutL{0%{transform:translateX(0)}
20%{opacity:1;transform:translateX(20px)}
100%{opacity:0;transform:translateX(-200px)}
}
@-webkit-keyframes rotatein{0%{opacity:0;-webkit-transform:rotate(-200deg)}
100%{opacity:1;-webkit-transform:rotate(0)}
}
@-moz-keyframes rotatein{0%{opacity:0;-moz-transform:rotate(-200deg)}
100%{opacity:1;-moz-transform:rotate(0)}
}
@-ms-keyframes rotatein{0%{opacity:0;-ms-transform:rotate(-200deg)}
100%{opacity:1;-ms-transform:rotate(0)}
}
@keyframes rotatein{0%{opacity:0;transform:rotate(-200deg)}
100%{opacity:1;transform:rotate(0)}
}
@-webkit-keyframes rotateinLT{0%{opacity:0;-webkit-transform:rotate(-90deg);-webkit-transform-origin:left bottom}
100%{opacity:1;-webkit-transform:rotate(0);-webkit-transform-origin:left bottom}
}
@-moz-keyframes rotateinLT{0%{opacity:0;-moz-transform:rotate(-90deg);-moz-transform-origin:left bottom}
100%{opacity:1;-moz-transform:rotate(0);-moz-transform-origin:left bottom}
}
@-ms-keyframes rotateinLT{0%{opacity:0;-ms-transform-origin:left bottom;-ms-transform:rotate(-90deg)}
100%{opacity:1;-ms-transform-origin:left bottom;-ms-transform:rotate(0)}
}
@keyframes rotateinLT{0%{opacity:0;transform:rotate(-90deg);transform-origin:left bottom}
100%{opacity:1;transform:rotate(0);transform-origin:left bottom}
}
@-webkit-keyframes rotateineftB{0%{opacity:0;-webkit-transform:rotate(90deg);-webkit-transform-origin:left bottom}
100%{opacity:1;-webkit-transform:rotate(0);-webkit-transform-origin:left bottom}
}
@-moz-keyframes rotateineftB{0%{opacity:0;-moz-transform:rotate(90deg);-moz-transform-origin:left bottom}
100%{opacity:1;-moz-transform:rotate(0);-moz-transform-origin:left bottom}
}
@-ms-keyframes rotateineftB{0%{opacity:0;-ms-transform-origin:left bottom;-ms-transform:rotate(90deg)}
100%{opacity:1;-ms-transform-origin:left bottom;-ms-transform:rotate(0)}
}
@keyframes rotateineftB{0%{opacity:0;transform:rotate(90deg);transform-origin:left bottom}
100%{opacity:1;transform:rotate(0);transform-origin:left bottom}
}
@-webkit-keyframes rotateinRT{0%{opacity:0;-webkit-transform:rotate(90deg);-webkit-transform-origin:right bottom}
100%{opacity:1;-webkit-transform:rotate(0);-webkit-transform-origin:right bottom}
}
@-moz-keyframes rotateinRT{0%{opacity:0;-moz-transform:rotate(90deg);-moz-transform-origin:right bottom}
100%{opacity:1;-moz-transform:rotate(0);-moz-transform-origin:right bottom}
}
@-ms-keyframes rotateinRT{0%{opacity:0;-ms-transform-origin:right bottom;-ms-transform:rotate(90deg)}
100%{opacity:1;-ms-transform-origin:right bottom;-ms-transform:rotate(0)}
}
@keyframes rotateinRT{0%{opacity:0;transform:rotate(90deg);transform-origin:right bottom}
100%{opacity:1;transform:rotate(0);transform-origin:right bottom}
}
@-webkit-keyframes rotateinRB{0%{opacity:0;-webkit-transform:rotate(-90deg);-webkit-transform-origin:right bottom}
100%{opacity:1;-webkit-transform:rotate(0);-webkit-transform-origin:right bottom}
}
@-moz-keyframes rotateinRB{0%{opacity:0;-moz-transform:rotate(-90deg);-moz-transform-origin:right bottom}
100%{opacity:1;-moz-transform:rotate(0);-moz-transform-origin:right bottom}
}
@-ms-keyframes rotateinRB{0%{opacity:0;-ms-transform-origin:right bottom;-ms-transform:rotate(-90deg)}
100%{opacity:1;-ms-transform-origin:right bottom;-ms-transform:rotate(0)}
}
@keyframes rotateinRB{0%{opacity:0;transform:rotate(-90deg);transform-origin:right bottom}
100%{opacity:1;transform:rotate(0);transform-origin:right bottom}
}
@-webkit-keyframes rotateout{0%{opacity:1;-webkit-transform:rotate(0);-webkit-transform-origin:center center}
100%{opacity:0;-webkit-transform:rotate(200deg);-webkit-transform-origin:center center}
}
@-moz-keyframes rotateout{0%{opacity:1;-moz-transform:rotate(0);-moz-transform-origin:center center}
100%{opacity:0;-moz-transform:rotate(200deg);-moz-transform-origin:center center}
}
@-ms-keyframes rotateout{0%{opacity:1;-ms-transform-origin:center center;-ms-transform:rotate(0)}
100%{opacity:0;-ms-transform-origin:center center;-ms-transform:rotate(200deg)}
}
@keyframes rotateout{0%{opacity:1;transform:rotate(0);transform-origin:center center}
100%{opacity:0;transform:rotate(200deg);transform-origin:center center}
}
@-webkit-keyframes rotateoutLT{0%{opacity:1;-webkit-transform:rotate(0);-webkit-transform-origin:left bottom}
100%{opacity:0;-webkit-transform:rotate(-90deg);-webkit-transform-origin:left bottom}
}
@-moz-keyframes rotateoutLT{0%{opacity:1;-moz-transform:rotate(0);-moz-transform-origin:left bottom}
100%{opacity:0;-moz-transform:rotate(-90deg);-moz-transform-origin:left bottom}
}
@-ms-keyframes rotateoutLT{0%{opacity:1;-ms-transform-origin:left bottom;-ms-transform:rotate(0)}
100%{opacity:0;-ms-transform-origin:left bottom;-ms-transform:rotate(-90deg)}
}
@keyframes rotateoutLT{0%{opacity:1;transform:rotate(0);transform-origin:left bottom}
100%{opacity:0;transform:rotate(-90deg);transform-origin:left bottom}
}
@-webkit-keyframes rotateoutLB{0%{opacity:1;-webkit-transform:rotate(0);-webkit-transform-origin:left bottom}
100%{opacity:0;-webkit-transform:rotate(90deg);-webkit-transform-origin:left bottom}
}
@-moz-keyframes rotateoutLB{0%{opacity:1;-moz-transform:rotate(0);-moz-transform-origin:left bottom}
100%{opacity:0;-moz-transform:rotate(90deg);-moz-transform-origin:left bottom}
}
@-ms-keyframes rotateoutLB{0%{opacity:1;-ms-transform-origin:left bottom;-ms-transform:rotate(0)}
100%{opacity:0;-ms-transform-origin:left bottom;-ms-transform:rotate(90deg)}
}
@keyframes rotateoutLB{0%{opacity:1;transform:rotate(0);transform-origin:left bottom}
100%{opacity:0;transform:rotate(90deg);transform-origin:left bottom}
}
@-webkit-keyframes rotateoutRT{0%{opacity:1;-webkit-transform:rotate(0);-webkit-transform-origin:right bottom}
100%{opacity:0;-webkit-transform:rotate(90deg);-webkit-transform-origin:right bottom}
}
@-moz-keyframes rotateoutRT{0%{opacity:1;-moz-transform:rotate(0);-moz-transform-origin:right bottom}
100%{opacity:0;-moz-transform:rotate(90deg);-moz-transform-origin:right bottom}
}
@-ms-keyframes rotateoutRT{0%{opacity:1;-ms-transform-origin:right bottom;-ms-transform:rotate(0)}
100%{opacity:0;-ms-transform-origin:right bottom;-ms-transform:rotate(90deg)}
}
@keyframes rotateoutRT{0%{opacity:1;transform:rotate(0);transform-origin:right bottom}
100%{opacity:0;transform:rotate(90deg);transform-origin:right bottom}
}
@-webkit-keyframes rotateoutBR{0%{opacity:1;-webkit-transform:rotate(0);-webkit-transform-origin:right bottom}
100%{opacity:0;-webkit-transform:rotate(-90deg);-webkit-transform-origin:right bottom}
}
@-moz-keyframes rotateoutBR{0%{opacity:1;-moz-transform:rotate(0);-moz-transform-origin:right bottom}
100%{opacity:0;-moz-transform:rotate(-90deg);-moz-transform-origin:right bottom}
}
@-ms-keyframes rotateoutBR{0%{opacity:1;-ms-transform-origin:right bottom;-ms-transform:rotate(0)}
100%{opacity:0;-ms-transform-origin:right bottom;-ms-transform:rotate(-90deg)}
}
@keyframes rotateoutBR{0%{opacity:1;transform:rotate(0);transform-origin:right bottom}
100%{opacity:0;transform:rotate(-90deg);transform-origin:right bottom}
}
@-webkit-keyframes flip{0%{-webkit-transform:perspective(400px) rotateY(0);-webkit-animation-timing-function:ease-out}
40%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(170deg);-webkit-animation-timing-function:ease-out}
50%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);-webkit-animation-timing-function:ease-in}
80%{-webkit-transform:perspective(400px) rotateY(360deg) scale(0.95);-webkit-animation-timing-function:ease-in}
100%{-webkit-transform:perspective(400px) scale(1);-webkit-animation-timing-function:ease-in}
}
@-moz-keyframes flip{0%{-moz-transform:perspective(400px) rotateY(0);-moz-animation-timing-function:ease-out}
40%{-moz-transform:perspective(400px) translateZ(150px) rotateY(170deg);-moz-animation-timing-function:ease-out}
50%{-moz-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);-moz-animation-timing-function:ease-in}
80%{-moz-transform:perspective(400px) rotateY(360deg) scale(0.95);-moz-animation-timing-function:ease-in}
100%{-moz-transform:perspective(400px) scale(1);-moz-animation-timing-function:ease-in}
}
@-ms-keyframes flip{0%{-ms-transform:perspective(400px) rotateY(0);-ms-animation-timing-function:ease-out}
40%{-ms-transform:perspective(400px) translateZ(150px) rotateY(170deg);-ms-animation-timing-function:ease-out}
50%{-ms-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);-ms-animation-timing-function:ease-in}
80%{-ms-transform:perspective(400px) rotateY(360deg) scale(0.95);-ms-animation-timing-function:ease-in}
100%{-ms-transform:perspective(400px) scale(1);-ms-animation-timing-function:ease-in}
}
@keyframes flip{0%{transform:perspective(400px) rotateY(0);animation-timing-function:ease-out}
40%{transform:perspective(400px) translateZ(150px) rotateY(170deg);animation-timing-function:ease-out}
50%{transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);animation-timing-function:ease-in}
80%{transform:perspective(400px) rotateY(360deg) scale(0.95);animation-timing-function:ease-in}
100%{transform:perspective(400px) scale(1);animation-timing-function:ease-in}
}
@-webkit-keyframes flipinX{0%{opacity:0;-webkit-transform:perspective(400px) rotateX(90deg)}
40%{-webkit-transform:perspective(400px) rotateX(-10deg)}
70%{-webkit-transform:perspective(400px) rotateX(10deg)}
100%{opacity:1;-webkit-transform:perspective(400px) rotateX(0)}
}
@-moz-keyframes flipinX{0%{opacity:0;-moz-transform:perspective(400px) rotateX(90deg)}
40%{-moz-transform:perspective(400px) rotateX(-10deg)}
70%{-moz-transform:perspective(400px) rotateX(10deg)}
100%{opacity:1;-moz-transform:perspective(400px) rotateX(0)}
}
@-ms-keyframes flipinX{0%{opacity:0;-ms-transform:perspective(400px) rotateX(90deg)}
40%{-ms-transform:perspective(400px) rotateX(-10deg)}
70%{-ms-transform:perspective(400px) rotateX(10deg)}
100%{opacity:1;-ms-transform:perspective(400px) rotateX(0)}
}
@keyframes flipinX{0%{opacity:0;transform:perspective(400px) rotateX(90deg)}
40%{transform:perspective(400px) rotateX(-10deg)}
70%{transform:perspective(400px) rotateX(10deg)}
100%{opacity:1;transform:perspective(400px) rotateX(0)}
}
@-webkit-keyframes flipinY{0%{opacity:0;-webkit-transform:perspective(400px) rotateY(90deg)}
40%{-webkit-transform:perspective(400px) rotateY(-10deg)}
70%{-webkit-transform:perspective(400px) rotateY(10deg)}
100%{opacity:1;-webkit-transform:perspective(400px) rotateY(0)}
}
@-moz-keyframes flipinY{0%{opacity:0;-moz-transform:perspective(400px) rotateY(90deg)}
40%{-moz-transform:perspective(400px) rotateY(-10deg)}
70%{-moz-transform:perspective(400px) rotateY(10deg)}
100%{opacity:1;-moz-transform:perspective(400px) rotateY(0)}
}
@-ms-keyframes flipinY{0%{opacity:0;-ms-transform:perspective(400px) rotateY(90deg)}
40%{-ms-transform:perspective(400px) rotateY(-10deg)}
70%{-ms-transform:perspective(400px) rotateY(10deg)}
100%{opacity:1;-ms-transform:perspective(400px) rotateY(0)}
}
@keyframes flipinY{0%{opacity:0;transform:perspective(400px) rotateY(90deg)}
40%{transform:perspective(400px) rotateY(-10deg)}
70%{transform:perspective(400px) rotateY(10deg)}
100%{opacity:1;transform:perspective(400px) rotateY(0)}
}
@-webkit-keyframes flipoutX{0%{opacity:1;-webkit-transform:perspective(400px) rotateX(0)}
100%{opacity:0;-webkit-transform:perspective(400px) rotateX(90deg)}
}
@-moz-keyframes flipoutX{0%{opacity:1;-moz-transform:perspective(400px) rotateX(0)}
100%{opacity:0;-moz-transform:perspective(400px) rotateX(90deg)}
}
@-ms-keyframes flipoutX{0%{opacity:1;-ms-transform:perspective(400px) rotateX(0)}
100%{opacity:0;-ms-transform:perspective(400px) rotateX(90deg)}
}
@keyframes flipoutX{0%{opacity:1;transform:perspective(400px) rotateX(0)}
100%{opacity:0;transform:perspective(400px) rotateX(90deg)}
}
@-webkit-keyframes flipoutY{0%{opacity:1;-webkit-transform:perspective(400px) rotateY(0)}
100%{opacity:0;-webkit-transform:perspective(400px) rotateY(90deg)}
}
@-moz-keyframes flipoutY{0%{opacity:1;-moz-transform:perspective(400px) rotateY(0)}
100%{opacity:0;-moz-transform:perspective(400px) rotateY(90deg)}
}
@-ms-keyframes flipoutY{0%{opacity:1;-ms-transform:perspective(400px) rotateY(0)}
100%{opacity:0;-ms-transform:perspective(400px) rotateY(90deg)}
}
@keyframes flipoutY{0%{opacity:1;transform:perspective(400px) rotateY(0)}
100%{opacity:0;transform:perspective(400px) rotateY(90deg)}
}
@-webkit-keyframes flash{0%,100%,50%{opacity:1}
25%,75%{opacity:0}
}
@-moz-keyframes flash{0%,100%,50%{opacity:1}
25%,75%{opacity:0}
}
@-ms-keyframes flash{0%,100%,50%{opacity:1}
25%,75%{opacity:0}
}
@keyframes flash{0%,100%,50%{opacity:1}
25%,75%{opacity:0}
}
@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0)}
10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px)}
20%,40%,60%,80%{-webkit-transform:translateX(10px)}
}
@-moz-keyframes shake{0%,100%{-moz-transform:translateX(0)}
10%,30%,50%,70%,90%{-moz-transform:translateX(-10px)}
20%,40%,60%,80%{-moz-transform:translateX(10px)}
}
@-ms-keyframes shake{0%,100%{-ms-transform:translateX(0)}
10%,30%,50%,70%,90%{-ms-transform:translateX(-10px)}
20%,40%,60%,80%{-ms-transform:translateX(10px)}
}
@keyframes shake{0%,100%{transform:translateX(0)}
10%,30%,50%,70%,90%{transform:translateX(-10px)}
20%,40%,60%,80%{transform:translateX(10px)}
}
@-webkit-keyframes swing{20%{-webkit-transform:rotate(15deg)}
40%{-webkit-transform:rotate(-10deg)}
60%{-webkit-transform:rotate(5deg)}
80%{-webkit-transform:rotate(-5deg)}
100%{-webkit-transform:rotate(0)}
}
@-moz-keyframes swing{20%{-moz-transform:rotate(15deg)}
40%{-moz-transform:rotate(-10deg)}
60%{-moz-transform:rotate(5deg)}
80%{-moz-transform:rotate(-5deg)}
100%{-moz-transform:rotate(0)}
}
@-ms-keyframes swing{20%{-ms-transform:rotate(15deg)}
40%{-ms-transform:rotate(-10deg)}
60%{-ms-transform:rotate(5deg)}
80%{-ms-transform:rotate(-5deg)}
100%{-ms-transform:rotate(0)}
}
@keyframes swing{20%{transform:rotate(15deg)}
40%{transform:rotate(-10deg)}
60%{transform:rotate(5deg)}
80%{transform:rotate(-5deg)}
100%{transform:rotate(0)}
}
@-webkit-keyframes wobble{0%{-webkit-transform:translateX(0)}
15%{-webkit-transform:translateX(-100px) rotate(-5deg)}
30%{-webkit-transform:translateX(80px) rotate(3deg)}
45%{-webkit-transform:translateX(-65px) rotate(-3deg)}
60%{-webkit-transform:translateX(40px) rotate(2deg)}
75%{-webkit-transform:translateX(-20px) rotate(-1deg)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes wobble{0%{-moz-transform:translateX(0)}
15%{-moz-transform:translateX(-100px) rotate(-5deg)}
30%{-moz-transform:translateX(80px) rotate(3deg)}
45%{-moz-transform:translateX(-65px) rotate(-3deg)}
60%{-moz-transform:translateX(40px) rotate(2deg)}
75%{-moz-transform:translateX(-20px) rotate(-1deg)}
100%{-moz-transform:translateX(0)}
}
@-ms-keyframes wobble{0%{-ms-transform:translateX(0)}
15%{-ms-transform:translateX(-100px) rotate(-5deg)}
30%{-ms-transform:translateX(80px) rotate(3deg)}
45%{-ms-transform:translateX(-65px) rotate(-3deg)}
60%{-ms-transform:translateX(40px) rotate(2deg)}
75%{-ms-transform:translateX(-20px) rotate(-1deg)}
100%{-ms-transform:translateX(0)}
}
@keyframes wobble{0%{transform:translateX(0)}
15%{transform:translateX(-100px) rotate(-5deg)}
30%{transform:translateX(80px) rotate(3deg)}
45%{transform:translateX(-65px) rotate(-3deg)}
60%{transform:translateX(40px) rotate(2deg)}
75%{transform:translateX(-20px) rotate(-1deg)}
100%{transform:translateX(0)}
}
@-webkit-keyframes ring{0%{-webkit-transform:scale(1)}
10%,20%{-webkit-transform:scale(0.9) rotate(-3deg)}
30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg)}
40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg)}
100%{-webkit-transform:scale(1) rotate(0)}
}
@-moz-keyframes ring{0%{-moz-transform:scale(1)}
10%,20%{-moz-transform:scale(0.9) rotate(-3deg)}
30%,50%,70%,90%{-moz-transform:scale(1.1) rotate(3deg)}
40%,60%,80%{-moz-transform:scale(1.1) rotate(-3deg)}
100%{-moz-transform:scale(1) rotate(0)}
}
@-ms-keyframes ring{0%{-ms-transform:scale(1)}
10%,20%{-ms-transform:scale(0.9) rotate(-3deg)}
30%,50%,70%,90%{-ms-transform:scale(1.1) rotate(3deg)}
40%,60%,80%{-ms-transform:scale(1.1) rotate(-3deg)}
100%{-ms-transform:scale(1) rotate(0)}
}
@keyframes ring{0%{transform:scale(1)}
10%,20%{transform:scale(0.9) rotate(-3deg)}
30%,50%,70%,90%{transform:scale(1.1) rotate(3deg)}
40%,60%,80%{transform:scale(1.1) rotate(-3deg)}
100%{transform:scale(1) rotate(0)}
}





















