<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

    <header><img src="banner.jpg" width="100%" alt=""></header>
    <div class="scroll-page">
      <div class="content">
          <div class="left-content">
              <ul>
                  <li ng-repeat="item in items">列表一</li>
                  <li ng-repeat="item in items">列表二</li>
                  <li ng-repeat="item in items">列表三</li>
                  <li ng-repeat="item in items">列表四</li>
                  <li ng-repeat="item in items">列表五</li>
                  <li ng-repeat="item in items">列表六</li>
              </ul>
          </div>
          <div class="right-content">
              <ul>
                  <li class="item1">
                      <div class="class-title ">列表一</div>
                      <div class="list">
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品1</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品2</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品3</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="item2">
                      <div class="class-title ">列表二</div>
                      <div class="list">
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品11</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品22</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="item3">
                      <div class="class-title ">列表三</div>
                      <div class="list">
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品111</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品222</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品333</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品444</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="item4">
                      <div class="class-title ">列表四</div>
                      <div class="list">
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品1111</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="item5">
                      <div class="class-title ">列表五</div>
                      <div class="list">
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品11111</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品22222</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="item6">
                      <div class="class-title ">列表六</div>
                      <div class="list">
                          <div class="item">
                              <div class="item-left">
                                  <div class="item-img"></div>
                              </div>
                              <div class="item-right">
                                  <div class="title">菜品111111</div>
                                  <div class="subtitle">11</div>
                                  <div class="price">12</div>
                              </div>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
    </div>

  <script src="jquery-3.1.1.min.js"></script>
  <script src="index.js"></script>
  
</body>
</html>
